{% extends "base.html" %}

{% load i18n %}
{% load thumbnail %}


{% block content %}

    <form class="tatianastore-select-songs" method="POST">

        {% csrf_token %}

        <div class="row store-header">
            <div class="col-md-6">
                <h1>{{ artist.name }}</h1>
            </div>

            <div class="col-md-6">
                <div class="controls pull-right">

                    <button id="change-currency" type="button" class="btn btn-default currency-wrapper">
                         Currency: <strong class="current-currency-symbol"><i class="fa fa-btc"></i></strong>
                    </button>
                </div>
            </div>
        </div>


        {% for album in albums %}

            <div class="row row-album">
                <div class="album-summary col-md-6">

                    <input type="hidden" name="album-{{ album.slug }}">

                    <h2>{{ album.name }}</h2>
                    <img src="{% thumbnail album.cover 128x128 %}" alt="">

                    <p class="album-description text-muted">
                        {{ album.description }}
                    </p>

                    <a class="btn btn-lg btn-default buy-whole-album" href="{% url 'order' 'album' album.id %}">
                        <i class="fa fa-shopping-cart"></i>
                        <span class="btc-price" data-btc-price="{{ album.get_btc_price }}">
                            {{ album.get_btc_price }} BTC
                        </span>
                    </a>

                </div>

                <div class="songs col-md-6">
                    {% include "storefront/song_purchase_list.html" with songs=album.song_set.all %}
                </div>
            </div>
        {% endfor %}
    </form>

{% endblock content %}

{% block footer %}
<div id="footer">
    <div class="row">
        <div class="col-md-12">
            <p class="text text-muted">
                © {{artist.name}} 2014
            </p>
        </div>
    </div>
</div>
{% endblock footer %}