{% extends "base.html" %}

{% load i18n %}
{% load thumbnail %}


{% block content %}

    <form class="tatianastore-select-songs" method="POST">

        {% csrf_token %}

        <div class="row store-header">
            <div class="col-md-6">
                <h1>{{ artist.name }}</h1>
            </div>

            <div class="col-md-6">
                <div class="controls pull-right">

                    <span class="currency-wrapper">
                         Currency: <strong class="current-currency-symbol text-primary"><i class="fa fa-btc"></i></strong>
                    </span>

                    <span class="separator text-muted">
                        |
                    </span>
                    <span class="empty-selection">
                        Please select songs
                    </span>

                    <span class="selected-songs hidden">
                        Total: <span></span>

                        <button class="btn" type="submit">
                            Download
                        </button>
                    </span>
                </div>
            </div>
        </div>


        {% for album in albums %}

            <div class="row row-album">
                <div class="album-summary col-md-6">

                    <input type="hidden" name="album-{{ album.slug }}">

                    <h2>{{ album.name }}</h2>
                    <img src="{% thumbnail album.cover 128x128 %}" alt="">

                    <p class="album-description text-muted">
                        {{ album.description }}
                    </p>

                    <a class="btn btn-lg btn-default buy-whole-album" href="#">
                        <i class="fa fa-shopping-cart"></i>
                        <span class="btc-price" data-btc-price="{{ album.get_btc_price }}">
                            {{ album.get_btc_price }} BTC
                        </span>
                    </a>

                </div>

                <div class="songs col-md-6">
                    {% for song in album.song_set.all %}
                        <div class="song">
                            <h3 class="pull-left">
                                <span class="name">
                                    {{ song.name }}
                                </span>
                            </h3>

                            <div class="btn-group btn-group-lg pull-right">

                                <a class="btn btn-default" href="#" class="prelisten" title="Listen a sample">
                                    <i class="fa fa-volume-up"></i>
                                </a>

                                <a href="#" class="select btn btn-default" title="Add to selection">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span class="price" data-btc-price="{{ song.get_btc_price }}">
                                        {{ album.get_btc_price }} BTC
                                    </span>
                                </a>

                                <a href="#" class="unselect hidden btn-default" title="Remove from selection">
                                    <i class="fa fa-times-circle"></i>
                                </a>
                            </div>

                            <input type="hidden" name="song-{{ album.slug }}-{{ song.slug }}">

                            <div style="clear: both"></div>

                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </form>

{% endblock content %}

{% block footer %}
<div id="footer">
    <div class="row">
        <div class="col-md-12">
            <p class="text text-muted">
                © {{artist.name}} 2014
            </p>
        </div>
    </div>
</div>
{% endblock footer %}