{% extends "storefront/base.html" %}

{% load i18n %}

{% block content %}

    <div class="row">
        <div class="col-md-12 text-center" id="faecbook-error">
            <h2>{% trans "Oopsie. Looks like there has been an error." %}</h2>

            <div class="text-left">
                <p>Liberty Music Store tried to load a music store here. However, some information appears to be missing.

                <p>
                    If this is your own Facebook page:
                </p>

                <ul>
                    <li>Make sure you have created user account in <a target="_blank" href="{{ site_url }}">Liberty Music Store</a></li>
                    <li>On your Facebook page choose <em>More</em> &rarr; <em>Manage tabs</em>. Delete <em>Buy music</em> in the list.
                    <li>Now, on Liberty Music Store try pressing <em>Add store to Facebook</em> button again. This should give you a Facebook pop-up and you can choose this page again.</li>
                    <li>The store should appear now again</li>
                </ul>

                <p>
                    If this is somebody else's Facebook page
                </p>

                <ul>
                    <li>Report this problem to <a target="_blank" href="{{ site_url }}{% url 'info' %}">Liberty Music Store</a></li>
                </ul>
            </div>

        </div>
    </div>

{% endblock content %}

