{% extends "storefront/base.html" %}

{% load i18n %}
{% load thumbnail %}

{% block extra_head %}
{% include "storefront/extra_head.html" %}
{% endblock extra_head %}


{% block content %}

    <div class="row">
        <div class="col-md-12 text-center" id="payment-details">

{% comment %}
                <div class="alert alert-warning">
                <p>
                    At the moment we are experiencing issues receiving real time notifications of Bitcoin payments. Please
                    be patient to wait at least 15 minutes after the payment for the confirmation. In the case of the confirmation never happening send email to <a href="mailto:mikko@libertymusicstore.net">mikko@libertymusicstore.net</a> with the Bitcoin address and we
                    fix the payment for you.
                </p>

                <p>
                    This situation is not normal and it is being resolved with our service provider.
                </p>
            </div>
{% endcomment %}

            <h2>{% trans "Make Bitcoin payment" %}</h2>

            <h3>
                <i class="fa fa-music"></i> {{ transaction.description }}
            </h3>

            <p class="text-center">
                <small>
                    Don't have Bitcoins yet? <a target="_blank" href="https://localbitcoins.com/?ch=1af">Get them here.</a>
                </small>
            </p>


            <p>
                <span class="btc-clickable-amount">{{ transaction.btc_amount }}</span> <i class="fa fa-btc"></i>
                / {{ user_fiat_amount|floatformat:2 }} {{ user_currency }}

            </p>

            <div id="btc-address-holder">
                <strong class="bitcoin-address"
                    data-bc-amount="{{ transaction.btc_amount }}"
                    data-bc-label="{{ request.user.customer.name }}"
                    data-bc-message="{{ transaction.description }}"
                    data-bc-address="{{ transaction.btc_address}}">{{ transaction.btc_address}}</strong>
            </div>

            <div id="payment-progress" class="text-center">

                <p class="text text-muted">
                    {% trans "Waiting for the payment confirmation from the Bitcoin network" %}
                </p>

                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                        <!-- -->
                    </div>
                </div>
            </div>

            <form class="manual-actions" method="POST">
                {% csrf_token %}
                <p class="text-center btn-group-vertical">

                    <button type="submit" class="btn btn-default" name="cancel">
                        <i class="fa fa-times"></i>
                        {% trans "Cancel and return" %}
                    </button>
                </p>
            </form>

            <p>
            Problems with the payment? If the payment does not complete within one minute please <a href="mailto:mikko@libertymusicstore.net">send an email</a>, mention the song and we'll mail you the MP3.
            </p>
        </div>
    </div>

{% endblock content %}

{% block footer %}
<div class="row">
    <div class="col-md-12">
        {% include "bitcoin_accepted_here.html" with target="_target" %}
    </div>
</div>
{% endblock footer %}

{% block custom_script %}
<script>
window.poll = {
    transactionUUID: "{{ transaction.uuid }}",
    pollURL: "{% url 'transaction_poll' transaction.uuid %}",
    nextURL: "{% url 'thanks' transaction.uuid %}"
};
</script>
{% endblock custom_script %}