{% extends "storefront/base.html" %}

{% load i18n %}
{% load content %}

{% block extra_head %}
{% include "storefront/extra_head.html" %}
{% endblock extra_head %}

{% block content %}

    {% include "storefront/store_body.html" %}

{% endblock content %}

{% block footer %}
<div id="footer">
    <div class="row">
        <div class="col-md-12">
            <p class="text text-muted">
                © {{store.name}} 2014 - Bitcoin music store provided by <a target="_parent" href="{{ public_url }}">Liberty Music Store</a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% include "bitcoin_accepted_here.html" with target="_blank" %}
        </div>
    </div>
</div>
{% endblock footer %}