build/
dist/
*.pyc
*.egg
*.egg-info
venv/
*.orig
cached-static/*
.DS_Store
logs/*
*~
lib/*
*.csv
*.sql
*.bzip2
*.mo
user-uploads
*.tmp
.codeintel
tatianastore/static/bitcoinprices/
tatianastore/static/bitcoinaddress/
logs/*
local_settings.*
*.sqlite3
media/covers/*
media/songs/*