build/
dist/
*.pyc
*.egg
*.egg-info
venv/
venv3/
*.orig
cached-static/*
.DS_Store
logs/*
*~
lib/*
*.csv
*.sql
*.bzip2
*.mo
user-uploads
*.tmp
.codeintel
tatianastore/static/bitcoinprices/
tatianastore/static/bitcoinaddress/
logs/*
local_settings.*
*.sqlite3
media/albums/*
media/covers/*
media/songs/*
media/prelisten/*
media/thumbs
media/test/covers/*
media/test/prelisten/*
media/test/songs/*
media/test/albums/*
sample-cd
*.key
*.secure
*.csr
*.crt
manage.py
*.sublime-workspace
*.rdb
*.yaml
*.htpasswd
duplicity-venv
avenv
backups/*
*.sublime-project
conf/blockio-webhook.conf
.vagrant
ansible/galaxy/*
hosts.ini
