--extra-index-url https://pypi.fury.io/uzQ6egqLUi1bcfHJehXv/miohtama/
-e git+https://miohtama@bitbucket.org/miohtama/stagger.git#egg=stagger
-e git+https://miohtama@bitbucket.org/miohtama/cryptoassets.git#egg=cryptoassets.core
-e git+https://miohtama@bitbucket.org/miohtama/cryptoassets.django.git#egg=cryptoassets.django
Django==1.7.1
psycopg2==2.5.4
Pillow==2.4.0
Werkzeug==0.9.4
amqp==1.0.13
anyjson==0.3.3
billiard==2.7.3.32
django-crispy-forms==1.4.0
django-extensions==1.3.7
django-recaptcha==0.0.6
easy-thumbnails==2.0.1
ipdb==0.8
ipython==2.1.0
kombu==2.5.14
python-dateutil==1.5
python-magic==0.4.3
readline==6.2.4.1
six==1.4.1
django-pagination-bootstrap==1.0.5
rainbow_logging_handler==2.2.2
requests==2.3.0
redis==2.10.1
recaptcha-client==1.0.6
django-nose==1.2
django-redis
uwsgi==2.0.3
django-registration-redux==1.1
flake8
djrill==1.0.0
#huey==0.4.2
-e git+git@github.com:miohtama/huey.git@django-1.7-compat#egg=huey
mock==1.0.1
python-slugify==0.0.7
django-autoslug==1.7.2
retools==0.4.1
django-jsonfield==0.9.13

# Facebook development
django-sslserver==0.12
facepy==1.0.3

# Production / Sentry logging
raven==5.1.1
django-requestlogging==1.0.2

# Backup
# XXX: Duplicity is not yet Python 3 compatible, needs separate venv!
https://launchpad.net/duplicity/0.7-series/0.7.01/+download/duplicity-0.7.01.tar.gz
boto==2.36.0
