/* Reset the container */
body {
}

#navbar-site {
    min-height: 52px;
}

.navbar-brand {
    position: relative;
    top: -8px;
    font-family: 'Chivo', sans-serif;
}



.navbar-default {
    background: #0744b7;

background: #0744b7; /* Old browsers */
background: -moz-linear-gradient(top,  #0744b7 0%, #3868aa 22%, #2989d8 66%, #0744b7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0744b7), color-stop(22%,#3868aa), color-stop(66%,#2989d8), color-stop(100%,#0744b7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #0744b7 0%,#3868aa 22%,#2989d8 66%,#0744b7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #0744b7 0%,#3868aa 22%,#2989d8 66%,#0744b7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #0744b7 0%,#3868aa 22%,#2989d8 66%,#0744b7 100%); /* IE10+ */
background: linear-gradient(to bottom,  #0744b7 0%,#3868aa 22%,#2989d8 66%,#0744b7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0744b7', endColorstr='#0744b7',GradientType=0 ); /* IE6-9 */


}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:hover {
    color: #F7931A;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #F7931A;
}

.jumbotron {
    background: blue url(/static/img/header.jpg) no-repeat bottom center;
    background-size: cover;
    min-height: 400px;
}


.jumbotron h1 {
    margin: 0;
    color: white;
    font-size: 600%;
    text-shadow: 0 0 4px white, 0 0 6px rgba(0, 0, 0, 1);
    font-family: 'Chivo', sans-serif;
}

.jumbotron .lead {
    color: white;
    text-shadow: 0 0 2px black, 0 0 0 black, 0 0 1px black, 0 0 4px rgba(0,0,0,0.3);
}

#bitcoin-icon {
    color: #F7931A;
}

#bitcoin-icon .fa-circle {
    text-shadow: 0 1px 3px rgba(32, 32, 32, 0.3);
}

#bitcoin-icon .fa-btc {
    -moz-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg) translateX(-1px) translateY(-1px);
}

.marketing {
    margin-bottom: 60px;
}

.marketing .fa {
    color: #0744b7;
    text-shadow: 0 0 3px rgba(128, 128, 128, 0.4);
    font-size: 300%;
}

.marketing h4 {
    color: #0744b7;
    font-family: 'Chivo', sans-serif;
}

.marketing .entry {
    min-height: 140px;
    text-align: center;
}

#examples {
    margin-top: 40px;
    margin: 0 auto;
}

#examples h3 {
    text-align: center;
}

#examples img {
    width: 64px;
    height: 64px;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.tile-link {
    color: black;
    display: block;
}

.tile-link {
    padding: 10px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.tile-link:hover {
    background: #eee;
    display: block;
    padding: 10px;
    text-decoration: none;
}

#footer-content {
    margin-top: 40px;
    padding-top: 20px;
    text-align: center;
    border-top: 1px solid #aaaaaa;
    font-size: 133%;
}

#sign-up {
    max-width: 500px;
    margin: 0 auto;
}

