{% load i18n %}
{% load checklist %}

<div id="content-related">
    {% checklist %}

    <div class="module" id="checklist-module">
        <h2>{% trans 'Need help?' %}</h2>

        <p>
            This service is still very beta and has rough edges.
            Ping me and I'll clear them out for you.
        </p>

        <p>
            Email:
        </p>

        <p>
            <strong>mikko@libertymusicstore.net</strong>
        </p>

        <p>
            Skype:
        </p>

        <p>
            <strong>mikko.ohtamaa</strong>
        </p>
    </div>
</div>
