{% extends "admin/base_site.html" %}
{% load i18n %}
{% load static %}

{% block extrahead %}
{{ super }}
<style>
.progress { position:relative; width:400px; border: 1px solid #ddd; padding: 1px; border-radius: 3px; }
.bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }
.percent { position:absolute; display:inline-block; top:3px; left:48%; }
</style>

{% endblock extrahead %}

{% block content %}

<h1>Upload an album</h1>

<ul>
<li>The album must be a ZIP file and must contain songs as MP3 files
<li>It is recommended that filenames are in the order they appear on the album. E.g. <i>01-first-song.mp3</i>, <i>02-second-song.mp3</i>
<li>Make sure MP3 files have ID3 tags (meta info) and you'll get song titles automatically correct on upload
<li>The ZIP file <strong>must contain a JPEG image</strong> which is us used as the album cover art</li>
</ul>

<p>
You can edit all files, information, prices and song order after the upload.
</p>

<p>
<strong>Warning:</strong> The upload and processing song files may take up to 10-20 minutes. Just don't close the page when the files are being processed. Some web browsers (Chrome) show the progress of your upload, others not. So please take a cup of coffee and come back to the computer after a while.
</p>

<p>
<strong>Warning:</strong> Maximum upload size at the moment is <strong>100 MB</strong>. If you need larger uploads, please contact the support and provide album download link in the email. We can fix it for you.
</p>


<h2>Upload an album as a ZIP file</h2>

<form enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Submit</button>

    <div class="progress">
        <div class="bar"></div >
        <div class="percent">0%</div >
    </div>
</form>

<script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="{% static 'jquery.form.js' %}"></script>
<script>
$(document).ready(function() {

    var bar = $('.bar');
    var percent = $('.percent');
    var status = $('#status');

    String.prototype.endsWith = function(suffix) {
        return this.indexOf(suffix, this.length - suffix.length) !== -1;
    };

    $('form').ajaxForm({

        // http://malsup.com/jquery/form/#options-object
        beforeSubmit: function(arr, $form, options) {
            var files = $("#id_zip_file").get(0).files;

            // Quick smoke test for upload errors
            // for the convenience for slow uploads

            if(!$("#id_album_name").val()) {
                window.alert("Please give the album name");
                return false;
            }


            if(files.length == 0) {
                window.alert("Please choose a ZIP file.");
                return false;
            }

            var f = files[0];

            var name = f.name.toLowerCase();
            if(!name.endsWith(".zip")) {
                window.alert("Please upload a zip file");
                return false;
            }

            if(f.size > 100*1024*1024) {
                window.alert("With this form you can upload files up to 100 MB only. Please contact support if larger album upload is needed.");
                return false;
            }
        },

        beforeSend: function() {
            status.empty();
            var percentVal = '0%';
            bar.width(percentVal)
            percent.html(percentVal);
        },

        uploadProgress: function(event, position, total, percentComplete) {
            var percentVal = percentComplete + '%';
            bar.width(percentVal)
            percent.html(percentVal);
        },

        success: function() {
            var percentVal = '100%';
            bar.width(percentVal)
            percent.html(percentVal);
        },

        complete: function(xhr) {
            // Javascript redirect to album edit

            // The server upload failed for a reason or another
            if(xhr.status >= 400) {
                // This won't make a perfect error page, but gives us something readable
                $(document.body).html("<pre>" + xhr.responseText + "</pre>");
                return;
            }

            if(xhr.statusText == "OK") {
                window.location = xhr.responseText;
            }
            status.html(xhr.responseText);
        }
    });

});
</script>

{% endblock %}
