{% extends "admin/base.html" %}
{% load i18n %}


{% block content %}

<h1>Upload an album</h1>

<ul>
<li>The album must be a ZIP file and must contain songs as MP3 <files class=""></files>
<li>It is recommended that filenames are in the order they appear on the album. E.g. <i>01-first-song.mp3</i>, <i>02-second-song.mp3</i>
<li>Add ID3 tags to MP3s to have a song title
<li>The ZIP file can contain a JPEG image which is us used as the album cover art</li>
</ul>

<p>
You can edit all files, information, prices and song order after the upload.
</p>

<p>
<strong>Warning:</strong> The upload and processing song files may take up to 10 minutes. Just don't close the page when the files are being processed.
</p>


<h2>Upload ZIP file</h2>
<p>
Set prices in <strong>{{store.currency}}</strong>
</p>

<form enctype="multipart/form-data" method="POST">
{% csrf_token %}
{{form.as_p}}
<button type="submit">Submit</button>
</form>

{% endblock %}
