{% extends "admin/change_list.html" %}
{% load i18n admin_static admin_list %}
{% load queries %}

{% block pagination %}
{{ block.super }}
<div>
<p>This shows all purchases and attempted purchases visitors have made in your store.</p>

<h4>Status legend</h4>
<p><i>Pending:</i> User started payment process, but never finished</p>
<p><i>Cancelled:</i> User started payment process, but pressed Cancel button on the payment page</p>
<p><i>Completed:</i> We received payment from the user</p>
<p><i>Credited:</i> The payment has been credited to the Bitcoin wallet of the store owner</p>
</div>

<h4>Total payments</h4>
<p>
Total payments received from customers (completed transactions): <strong>{{cl.root_queryset|download_transaction_sum:'completed'}}</strong> {{ site_currency_symbol }}
</p>

<p>
Total payments credited to your wallet (credited transactions): <strong>{{cl.root_queryset|download_transaction_sum:'credited'}}</strong> {{ site_currency_symbol }}
</p>

{% endblock %}