{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% load checklist %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
{% if app_list %}
    {% for app in app_list %}
        <div class="app-{{ app.app_label }} module">
        <table>

        {% if user.is_superuser %}
            <caption>
                <a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">
                    {% blocktrans with name=app.name %}{{ name }}{% endblocktrans %}
                </a>
            </caption>
        {% endif %}

        {% for model in app.models %}
            <tr class="model-{{ model.object_name|lower }}">
            {% if model.admin_url %}
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
            {% else %}
                <th scope="row">{{ model.name }}</th>
            {% endif %}

            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}

            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
        </div>
    {% endfor %}
{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    {% checklist %}

    <div class="module" id="checklist-module">
        <h2>{% trans 'Need help?' %}</h2>

        <p>
            This service is still very beta and has rough edges.
            Ping me and I'll clear them out for you.
        </p>

        <p>
            Email:
        </p>

        <p>
            <strong>mikko@libertymusicstore.net</strong>
        </p>

        <p>
            Skype:
        </p>

        <p>
            <strong>mikko.ohtamaa</strong>
        </p>
    </div>
</div>



{% endblock %}
