{% extends "registration/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block registration_content %}

<form method="post" action=".">
  {% csrf_token %}
  {{ form|crispy }}

    <p>
    <input class="btn" type="submit" value="{% trans 'Log in' %}" />
    <input type="hidden" name="next" value="{{ next }}" />
    </p>
</form>

<p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset your password." %}</a></p>
<p>{% trans "Not member" %}? <a href="{% url 'signup' %}">{% trans "Register" %}</a></p>
{% endblock %}
