{% comment %}
    Notify store owners of new paymnets
{% endcomment %}

<h2>Payments for {{store.name}}</h2>

<p>
    You have received the following payments to your cryptocurrency address {{store.btc_address}}.
</p>

<p>
    Log in at <a href="{{ SITE_URL }}">Liberty Music Store</a> to browse store actions.
</p>

<table>
    <thead>
        <tr>
            <th>Description</th>
            <th>Paid at</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
            <tr>
                <td style="padding: 10px">{{ transaction.description }}</td>
                <td style="padding: 10px">{{ transaction.btc_received_at }}</td>
                <td style="padding: 10px">{{ transaction.btc_amount}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>