{% extends "site/base.html" %}

{% load i18n %}
{% load static %}

{% block content %}

    <div class="row">
        <div class="col-md-6">

            <div>
                <h1>About Liberty Music Store</h1>

                <p>
                    Liberty Music Store is a service where musicians can open their own record store to sell music and receive Bitcoin as the payment.
                    The store can be placed on any web page and unlike other digital music stores out there, the artist has 100% control over the store.
                    The Bitcoin payment makes the store very easy to use eliminateing the need for the upfront signing up. Liberty Music Store
                    is 100% transparent and committed to foster cryptocurrency usage.
                </p>

                <h2>History</h2>

                <p>
                    Liberty Music Store is currently a one-man weekend hacking project. It started as a proof-of-concept to show
                    how well Bitcoin adapts to online digital content sales. I wanted to do something in Bitcoin space,
                    which is driven mostly by my curiosity towards the upcoming virtual currency revolution. On my travels
                    I met some interesting artists with mindbogging ideas and here we are.
                </p>

                <p>
                    The product is 100% working, though some more work is needed to make it open for the great masses.
                    Thus I'll keeping the registration private until there are sales at least with 3-4 different artists
                    who have given feedback about the service usability.
                    I am especially little proud all the work that went to make Bitcoin payment process as easy as possible.
                </p>

                <p>
                    If you have any ideas where this project could head to please drop an email.
                </p>

                <p>
                    <a href="https://github.com/miohtama/LibertyMusicStore">The source code is 100% open source and available on Github.</a>
                </p>

                <p>
                    <a href="https://bitcointalk.org/index.php?topic=668423.0">BitcoinTalk thread.</a>
                </p>


                <p>
                    Cheers, <a href="mailto:mikko@libertymusicstore.net">Mikko Ohtamaa</a>
                    (<a href="https://twitter.com/moo9000"><i class="fa fa-twitter"> Twitter</i></a>,
                    <a href="https://linkedin.com/in/ohtis"><i class="fa fa-linkedin-square"> LinkedIn</i>)
                </p>
            </div>

        </div>

        <div class="col-md-6">
            <img class="img-responsive img-thumbnail"  src="{% static 'img/selfie.jpg' %}" alt="">
        </div>
    </div>



{% endblock content %}
