<footer>

    <div id="footer-border">

        <div id="footer-inner">

            <div id="social" class="pull-right">
                <a href="https://twitter.com/LibertyMusicNet"><i class="fa fa-twitter"></i> <span class="slant"></span></a>
                <a href="https://github.com/miohtama/LibertyMusicStore"> <i class="fa fa-github-alt"></i>  <span class="slant"></span></a>
                <a href="mailto:mikko@libertymusicstore.net"> <i class="fa fa-envelope"></i>  <span class="slant"></span></a>
                <a href="{% url 'rss_feed' %}"> <i class="fa fa-rss"></i>  <span class="slant"></span></a>
            </div>

            <div id="follow">
                <h4>Follow us</h4>

                <p>
                    Find out about latest artists going Bitcoin.
                </p>
            </div>


            <p id="copyright">
                Copyright 2014 <a href="https://libertymusicstore.net">Liberty Music Store</a>
            </p>

            <div style="clear: both"></div>
        </div>
    </div>
</footer>
