{% load i18n %}
{% load static %}
{% load thumbnail %}

<section id="out-now">

  <div class="container">
         <div class="row">
            <div class="col-lg-12">
                <h2 class="text-center">
                    <span>Browse music</span>
                </h2>
            </div>

            <p class="lead lead-highlight text-center">
                Buy music with Bitcoin from these selected artists
            </p>
        </div>

        <div class="row">

            <div class="col-md-12" id="example-stores">

                {% for album in splash_albums %}
                    <a class="media tile-link" href="{% url 'on_site' album.store.slug %}">

                        {% if album.cover %}
                            <img class="media-object" src="{% thumbnail album.cover 96x96 %}" alt="">
                        {% endif %}

                        <div class="media-body">
                            <h4 class="media-heading">{{ album.name }}</h4>
                            <p>
                                {{album.description|default:''}}
                            </p>

                            <p class="text-muted">
                            <small>{{album.get_genre|default:''}}</small>
                            </p>
                        </div>
                    </a>
                {% endfor %}

            </div>

        </div>
    </div>
</section>
