 {% comment %}
     ATM not used
 {% endcomment %}

    <section id="out-now">

      <div class="container">
             <div class="row">
                <div class="col-lg-12">
                    <h2 class="text-center">
                        <span>Out now</span>
                    </h2>
                </div>

                <p class="lead lead-highlight text-center">
                    See the stores below
                </p>
            </div>

            <div class="row">

                <div class="col-md-12" id="example-stores">

                    <a class="media tile-link" href="http://www.thehollowcircle.com/bitcoin.htm">

                      <img class="media-object pull-left" src="{% static "img/hollowcircle.jpg" %}" alt="">

                      <div class="media-body">
                        <h4 class="media-heading">The Hollow Circle</h4>
                        <p>
                            Goth rock in the style of 80s
                        <p>
                      </div>
                    </a>

                    <a class="media tile-link" href="http://yesconnie.com/btc">

                      <img class="media-object pull-left" src="{% static "img/yesconnie.jpg" %}" alt="">

                      <div class="media-body">
                        <h4 class="media-heading">YESConnie</h4>
                        <p>
                            Spiritual Rap
                        <p>
                      </div>
                    </a>

                    <a class="media tile-link" href="https://www.facebook.com/pages/Code-Unknown/100281556922?sk=app_315418408638637">

                      <img class="media-object pull-left" src="{% static "img/codeunknown.jpg" %}" alt="">

                      <div class="media-body">
                        <h4 class="media-heading">Code Unknown</h4>
                        <p>
                            Metal
                        <p>
                        <div class="fb-shop">
                            <i class="fa fa-facebook"></i>
                        </div>
                      </div>
                    </a>

                    <a class="media tile-link" href="https://www.facebook.com/subatomica/app_315418408638637">

                      <img class="media-object pull-left" src="{% static "img/subatomica.jpg" %}" alt="">

                      <div class="media-body">
                        <h4 class="media-heading">Subatomica</h4>
                        <p>
                            Electronica
                        <p>
                        <div class="fb-shop">
                            <i class="fa fa-facebook"></i>
                        </div>
                      </div>
                    </a>


                    <a class="media tile-link" href="http://dharmafire-music.blogspot.it/">

                      <img class="media-object pull-left" src="{% static "img/dharmafire.jpg" %}" alt="">

                      <div class="media-body">
                        <h4 class="media-heading">The Dharma Fire</h4>
                        <p>
                            Psychedelic meditation music
                        <p>
                      </div>
                    </a>

                    <a class="media tile-link" href="http://bunksperience.com/bunks-now-accept-bitcoin-for-music-downloads/">

                      <img class="media-object pull-left" src="{% static "img/bunks.jpg" %}" alt="">

                      <div class="media-body">
                        <h4 class="media-heading">B.U.N.K.S</h4>
                        <p>
                            Rap
                        <p>
                      </div>
                    </a>


                    <a class="media tile-link" href="http://datacoresound.blogspot.ca/">

                      <img class="media-object pull-left" src="{% static "img/datacoresounds.jpg" %}" alt="">

                      <div class="media-body">
                        <h4 class="media-heading">Datacoresound</h4>
                        <p>
                            Ambient electronic
                        <p>
                      </div>
                    </a>

                </div>

            </div>
        </div>
    </section>
