{% extends "site/base.html" %}

{% load i18n %}
{% load static %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>{% trans "Liberty Music Store" %}</h1>
                <p class="lead">
                    The Bitcoin music store for artists.
                </p>
            </div>
        </div>
    </div>

    <div id="slogan" class="row">
        <div class="col-md-12">
            <p class="lead text-center">
                Sell songs on your homepage, receive Bitcoin.
            </p>
        </div>
    </div>

    <div class="row marketing">
        <div class="col-lg-4">

            <div class="entry">
                <i class="fa fa-music"></i>
                <h4>Music is your merchandise</h4>
                <p>As an artist, sell your music directly to your fans. Name your price and place.</p>
            </div>

            <div class="entry">
                <i class="fa fa-lock"></i>
                <h4>For your eyes only</h4>
                <p>Bitcoin transactions are anynomous. Bitcoin revenue is for your eyes only. No paperwork needed.</p>
            </div>
        </div>

        <div class="col-lg-4">

            <div class="entry">
                <i class="fa fa-heart"></i>
                <h4>Patent-free 2-click downloads</h4>
                <p>Make your song buyable <strong>with just two clicks</strong> - no sign ups or credit card numbers.</p>
            </div>

            <div class="entry">
                <i class="fa fa-home"></i>
                <h4>A store on your site</h4>
                <p>
                    Sell music directly on your website.
                    Embed Liberty Music Store on your homepage, blog or Facebook page.
                    100% customizable and faithful to your style.
                </p>
            </div>
        </div>

        <div class="col-lg-4">

            <div class="entry">
                <i class="fa fa-globe"></i>
                <h4>Reach everywhere</h4>
                <p>Bitcoin is a global virtual currency and works in every country. Fans can pay for your music regardless where they are.</p>
            </div>

            <div class="entry">
                <i class="fa fa-thumbs-o-up"></i>
                <h4>Perfect for specials</h4>
                <p>Do presales, campaigns, exclusive content.</p>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="well" id="examples">
                <h3>Out now</h3>

                <p class="text-center lead">See these stores</p>

                <div class="media">

                  <a class="pull-left" href="http://tatianacoin.com/bitcoin-store/">
                    <img class="media-object" src="{% static 'img/tatiana.jpg' %}" alt="">
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading"><a href="http://tatianacoin.com/bitcoin-store/"><i class="fa fa-music"></i> Tatiana Moroz - Love and Liberty</a></h4>
                    <p>
                        See also TatianaCoin - <a href="http://tatianacoin.com/">the first virtual currency fundraising campaign for artists.</a>
                    <p>
                  </div>
                </div>


                <div class="media">

                  <a class="pull-left" href="http://yesconnie.com/btc">
                    <img class="media-object" src="{% static 'img/yesconnie.jpg' %}" alt="">
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading"><a href="http://yesconnie.com/btc"><i class="fa fa-music"></i>  YESConnie - High Vibes Volume I</a></h4>
                    <p>
                        Spiritual Rap by <a href="http://yesconnie.com/">YESConnie</a>.
                    <p>
                  </div>
                </div>

            </div>
        </div>
    </div>

{% endblock content %}