{% load i18n %}
{% load debug %}
{% load static from staticfiles %}

<!-- Navigation -->
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}"><img alt="Liberty Music Store" src="{% static 'img/logo-400.png' %}"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>

                <li>
                    <a href="{% url 'buy_music' %}">Buy music</a>
                </li>

                <li>
                    <a href="{% url 'sell_music' %}">Sell music</a>
                </li>

                <li>
                    <a class="page-scroll" href="{% url 'info' %}">Info</a>
                </li>

                <li>
                    <a class="page-scroll" href="{% url 'bitcoin' %}">Bitcoin</a>
                </li>

                {% if not request.user.is_authenticated %}
                    <li>
                        <a class="plain" href="{% url 'auth_login' %}">{% trans "Artist log in" %}</a>
                    </li>
                    <li class="plain">
                        <a class="plain" href="{% url 'signup' %}">{% trans "Artist sign up" %}</a>
                    </li>
                {% else %}

                    <li class="plain">
                        <a class="plain" href="{% url 'admin:index' %}">
                            <i class="fa fa-home"></i>
                            {% trans "Your store" %}
                        </a>
                    </li>


                    <li class="plain">
                        <a class="plain" href="{% url 'auth_logout' %}">
                            {% blocktrans with username=request.user.username %}
                                Logout <strong>{{username}}</strong>
                            {% endblocktrans %}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>