{% extends "site/base.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    <div>
        <h1>Sign up and start selling your music</h1>

        <div class="well">
            <p class="lead">How to get started in 5 minutes</p>
            <ol>
                <li>Sign up to the site</li>
                <li>Upload albums and songs</li>
                <li>Publish the music store on your homepage</li>
            </ol>
        </div>

        <h2>Sign up details</h2>
        {% crispy form %}

    </div>

{% endblock content %}