{% extends "base.html" %}

{% load static from staticfiles %}
{% load i18n %}

{% block content %}

    <div class="row">

        {% if transaction.btc_received_at %}
            <div class="col-md-12">
                <div class="alert alert-success">
                    <i class="fa fa-check-square"></i> {% trans "Payment was successful." %}
                </div>
            </div>
        {% endif %}

        {% if transaction.cancelled_at %}
            <div class="col-md-12">
                <div class="alert alert-warning">
                    <i class="fa fa-check-square"></i> {% trans "Payment cancelled" %}
                </div>
            </div>
        {% endif %}

        <div class="col-md-12">

            <h2>{% trans "Payment details" %}</h2>

            <p>
                {{ transaction.fiat_amount|floatformat:2 }} {{ transaction.currency }}
            </p>

            <p>
                {{ transaction.btc_amount }} <i class="fa fa-btc"></i>
            </p>

            <p>
                {% trans "Bitcoin address:" %} {{ transaction.btc_address}}<br>
            </p>

            {% if transaction.get_status == "completed" %}
                <p>
                    {% blocktrans with receipt_email=transaction.customer_email %}
                        A copy of Bitcoin payment receipt has been sent to email <strong>{{receipt_email}}</strong>
                    {% endblocktrans %}
                </p>
            {% endif %}

            {% if transaction.manually_confirmed_received_at %}
                <p class="text text-warning">
                    {% blocktrans with manually_confirmed_received_at=transaction.manually_confirmed_received_at %}
                        This transaction did not wait automatic confirmation, but
                        was marked manually confirmed at {{manually_confirmed_received_at}}.
                    {% endblocktrans %}
                </p>
            {% endif %}
        </div>
    </div>

    <audio id="notification-tone" preload="none" style="display: none">
        <source src="{% static 'tone.ogg' %}" type="audio/ogg">
        <source src="{% static 'tone-40k.mp3' %}" type="audio/mpeg">
    </audio>

{% endblock content %}

{% block custom_script %}
<script>
    $(document).ready(function() {
        // Check for transaction complete flag and
        // play tone on succesful transaction
        if(window.location.href.indexOf("success") >= 0) {
            var audio = document.getElementById("notification-tone");
            audio.play();
        }
    });
</script>
{% endblock custom_script %}